@import "./Variables.scss";

.card-image {
  @media screen and (max-width: $phone-size) {
    width: 100%;
  }
  @media screen and (min-width: $phone-size) {
    width: 290px;
  }
  border: 1px solid $light-grey;
  overflow: hidden;
  border-radius: $minimal-size;
}

.image {
  img {
    height: 100%;
    width: 100% !important;
    object-fit: cover !important;
  }
  
  height: 200px;
  width: 100%;
  background-color: grey;
}
