@import "./Variables.scss";

.card-image {
    border: 1px solid $light-grey;
    overflow: hidden;
    border-radius: $minimal-size;
    background-color: $white;
    max-width: 286px;
    .image {
      height: 200px;
      width: 100%;
      background-color: grey;
    }
  }
  