@import "./Variables.scss";

.topBar {
  width: 100%;
  position: fixed;
  height: 60px;
  background-color: $main-color;
  color: $white;
}

.topBar-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: $medium-size;
  padding-right: $medium-size;
  align-items: center;
  margin-bottom: $medium-size;
}
