// COLORS

$main-color: #393e46;
$main-color-hover: #565d69;
$secondary-color: #4ecca3;
$secondary-color-hover: #5fe7bb;
$white: #fff;
$ghost-white: #fbfbff;
$light-grey: #eeeeee;
$red: #da0000;
$red-hover: #ff0303;

// SIZE

$minimal-size: 4px;
$small-size: 8px;
$medium-size: 16px;
$large-size: 32px;

// TIME

$small-time: 0.2s;

// MEDIA QUERIES

$phone-size: 800px;
